:root {
  --main-bg-color: #eff5fe;
  --border-color: #0288d147;
}
body,
html {
  font-family: system-ui;
  background: var(--main-bg-color);
  height: 100%;
  padding: 0;
  margin: 0;
}
body,
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.upload-container {
  background: #ffffff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.drop-zone {
  width: 500px;
  min-height: 200px;
  border: 2px dashed var(--border-color);
  margin: 30px;
  border-radius: 10px;
}
.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}
.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}
.icon-container .center {
  z-index: 2;
}
.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}
.dragged .icon-container .right {
  transform: rotate(10deg) translateX(20px) scale(0.9);
  transform-origin: bottom;

}
.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px) scale(0.9);
  transform-origin: bottom;
}
.dragged .icon-container .center{
    transform: translateY(-5px);
}